
.authBackground {
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: .5s ease;
    background-color: black;
    display: flex;
  }

  .titleDiv {
    margin: auto;
    margin-bottom: 20%;    
  }
  .title {
    text-align: center;
  }

  .info {
    text-align: center;
    margin-bottom: 0px;
  }