
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent
}