<div class="container-fluid fillParentHeight">
  <div class="row fillParentHeight">
    <div class="d-none d-sm-block col marginZero paddingZero">
      <img class="fillParentHeight fillParentWidth authBackground marginZero paddingZero" src="../../../../assets/auth/authBackground.jpg">
      <div class="overlay"></div>
    </div>
    <div class="col fillParentHeight">
      <div class="fillParentHeight  justify-content-center align-items-center red">
        <div>
            <img src="../../../../assets//auth/authBackground.jpg" class="profilePic ">
            
        </div>
      </div>
    </div>
  </div>
</div>