.red {
    background-color: red;
    width: 80%;
    margin: auto;
    display: flex;
    align-content: center;
}

.yellow {
    background-color: yellow;
    width: 60%;
    margin: auto;
}

.authBackground {
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    transition: .5s ease;
    background-color: black;
  }

  .profilePic {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    object-fit: cover;
    margin: auto;
  }