
.logo {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.profilePic {
    height: 40px;
    width: 40px;
    justify-content: right;
    margin-left: 30px;
    margin-right: 10px;
}

li:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

.bar {
    padding-bottom: 0px;
    padding-top: 0px;
    height: 60px;
}

.tabText {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab {
    height: 60px;
}
